.cmain{
    background-color: #141414;
}
.cheader{
    padding-left: 55px;
    color: white;
}
.cmiddle{
    padding-right: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 210px;
}
.cfooter{
    padding-left: 55px;
}
.cp{
    color:white;
}
.cfp{
    color: #b3b3b3;
}
.cbtn{
    background-color: #141414;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.csvg{
   width: 20px; 
}